/*font-family: 'Lato', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 400;
    background: #E5E5E5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
}
h1,h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}
/***************************************
***************header*******************
 ******************************************************************/
.header {
    background-color:#222222;
    padding: 18px 0;
    position: relative;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-right: 40px;
}
.nav-right a:not(:last-child){
    margin-right: 33px;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
    position: relative;
}
.open {
    display: block;
  }
.close {
    display: none;
  }
.ssearch {
    margin-top: 10px;
}
.basket {
    margin-top: -10px;
}
.quantity-in-basket {
    color: white;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 33px;
    background-color: #F16D7F;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 7px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}
.nav-main-dropdown {
    position: absolute;
    top: 77px;
    right: 1px;
    background-color: #FFFFFF;
}
.nav-main-wrapper {
    position: relative;
    padding: 37px 0 37px 34px;
    min-width: 232px;
}
.btn-nav-main {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 26px;
    color: #6F6E6E;
}
.nav-main-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.nav-main-heading {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin: 20px 0 12px 0;
}
.nav-main-list {
    list-style-type: none;
    padding-left: 26px;
}
.nav-main-link {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.nav-main-item {
    margin: 11px 0;
}
.nav-main-title:hover {
    text-decoration: underline;
    color: #F16D7F;
}
.nav-main-heading:hover {
    text-decoration: underline;
}
.nav-main-link:hover {
    color: #F16D7F;
}

/***************************************
***************main*******************
 ******************************************************************/
.main {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}
.main-wrapper {
    background-image: url(img/heager.png);
    background-repeat: no-repeat;
    background-position: -230px bottom;
    
    display: flex;
    justify-content: flex-end;
    padding-top: 290px;
    padding-bottom: 381px;
    padding-right: 107px;
}
.main-text{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    max-width: 381px;
    border-left: 12px solid #F16D7F;
    padding-left: 28px;
    text-transform: uppercase;
}
.main-text-second{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.main-text-color{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}


/***************************************
***************choice*******************
 ******************************************************************/

.choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .choice-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 105px 0;
 }
 .choice-text-small {
     padding: 65px 0;
 }
.choice-link {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
}
.choice-link:hover {
    text-decoration: underline;
}
.choice-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.choice-item:not(:last-child){
    width: 31.5%;
    /* height: 260px; */
}
.choice-item:last-child {
    width: 100%;
    /* height: 180px; */
    margin-top: 30px;
}
.for-women{
    background-image: url(img/for_women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.for-men {
    background-image: url(img/for_men.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.for-kids{
    background-image: url(img/for_kids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.accesories {
    background-image: url(img/accesories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/***************************************
***************fetured*******************
 ******************************************************************/
.fetured{
    margin: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fetured-heading{
    margin-bottom: 48px;
}
 .fetured-heading-h3{
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
 }
 .fetured-heading-text{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
 }

.fetured-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: 31.5%;
    margin-bottom: 30px;
    background-color: #F8F8F8;
    
}
.item-heading{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 24px 16px 12px 16px;
    text-transform: uppercase;
 }
 .item-heading:hover {
     color: #F16D7F;
 }
.item-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 16px;
}
.item-price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 18px 16px 20px 16px;
}

.fetured-link {
    padding: 15px 39px;
    border: 1px solid #F26376;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    margin-top: 48px;
    text-transform: capitalize;
 }
 .fetured-link:hover {
     color: #FFFFFF;
     background-color: #F26376;
 }


 .descr{
    position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	padding-top: 175px;
	text-align: center;
	display: none;
    top: 0;			
	
 }
 .item:hover .descr{
     display: block;
 }
 .descr-link {
     color: white;
     padding: 12px 16px;
     border: 1px solid white;
     
 }
 .descr-link img {
     width: initial;
     
 }
 .bg-hover {
     position: relative;
 }


 /***************************************
***************footer*******************
 ******************************************************************/

 /*******info********/
 .info {
     background-color: #222224;
 }
.info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 103px 0;
    align-items: center;
}
.info-wrapper > div {
    width: 31.5%;
}
.info-img {
    display: block;
    margin: 0 auto;
}
.info-heading{
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding: 28px 0 16px 0;
}
.info-heading:hover {
    color: #F16D7F;
}
.info-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

/*************subscribe****************/
.subscribe {
    background-image: url(img/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 156px 0;
    background-position-y: bottom;
}
.subscribe-wrapper {
    display: flex;
    justify-content: space-between;
}
.subscribe-left {
    width: 49.5%;
}
.subscribe-left-text {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    font-style: italic;
    max-width: 75%;
    
    text-align: center;
    padding-top: 30px;
    max-width: 359px;
}
.subscribe-left-img {
    display: block;
    margin-left: 132px;
    width: initial;
}
.subscribe-right {
    margin-top: 53px;
    margin-right: 97px;
}
.subscribe-right p {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%; /* 167.2%*/
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.subscribe-right p span {
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}
.subscribe-right-form {
    display: flex;
}
.input-1{
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #E1E1E1;
    color: #222224;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 67px 15px 25px;
   
}
.input-2 {
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F16D7F;;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 15px 19px;
    cursor: pointer;
    text-transform: capitalize;
}


/*****bottom******/
.bottom {
    background-color: #222224;
}
.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.bottom-wrapper-text{
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}
.bottom-list {
    display: flex;
    
}
.bottom-item {
    list-style-type: none;
    width: 31.45px;
    height: 32px;
    background-color: #FFFFFF;
    margin-right: 7px;
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
}
.bottom-item:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}
.bottom-item:last-child {
    margin-right: 0;
}


/******* Style for page Catalog***********************************/

.new-arrivals {
    background-color: #F8F3F4;
    padding: 60px 0;
}
.new-arrivals-wrapper {
    display: flex;
    justify-content: space-between;
}
.new-arrivals-wrapper p {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}
.new-arrivals-wrapper a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
}
.new-arrivals-wrapper a:last-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}


/****************** страница catalog------------------------*/

.fetured-catalog{
    display: flex;
    flex-direction: column;
    
}
.fetured-catalog-pages {
   border: 1px solid #EBEBEB;
   padding: 13px  0; 
   background-color: #FFFFFF;
   width: 25%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   margin-bottom: 109px;
   margin-top: 48px;
}
.fetured-catalog-pages button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.fetured-catalog-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    margin: 0 10px;
}
.fetured-catalog-link:hover {
    color: #EF5B70;
}


.filters {
    display: flex;
    padding: 51px 0 64px 0;
}
.filters-left {
    width: 34.5%;
    
}
.filters-left span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}

 .dropbtn {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    border: none;
    background-color:#E5E5E5;
    padding-left: 0;
}

.dropdown-1, .dropdown-2, .dropdown-3 {
    position: relative;
    display: inline-block;
    margin-right: 28px;
}
.dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
    display: none;
    position: absolute;
    min-width: 79px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    
}
.dropdown-1:hover .dropdown-content-1 {
    display: block;
    cursor: pointer;
}
.dropdown-2:hover .dropdown-content-2 {
    display: block;
    cursor: pointer;
}
.dropdown-3:hover .dropdown-content-3 {
    display: block;
    cursor: pointer;
}
.dropbtn img {
    width: initial;
}

/* details***********/

summary {
    display: block;
    background-color: #FFFFFF;
}
details {
    background-color: #FFFFFF;
    width: 91%;
}
  
summary::-webkit-details-marker {
    display: none;
}
.pos {
    position: relative;
    background-color: #FFFFFF;
    height: 100%;
    width: 34.5%;
    
}
.pos-left {
    position: absolute;
    z-index: 2;
}
.sort-filter {
    display: none;
}
/* .space {
    width: 34.5%;
} */
.text-1 {
    display: flex;
    background-color: #E5E5E5;
    padding-left: 17px;
    
}
details[open] > .text-1 {
    background-color: #FFFFFF;
    color: #EF5B70;
}
details[open].pos-left {
    padding-left: 10px;
    padding-top: 15px;
}
.fa-sort-amount-desc {
    margin-left: 10px;
}

.text-2 { 
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 0 10px 11px;
    margin-bottom: 24px;
    margin-left: 17px;
    margin-top: 16px;
}
.text-2-p {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 11px 0;
    padding-left: 17px;
}
.text-2-p:hover {
    color: #EF5B70;
    cursor: pointer;
}
summary:hover {
    color: #EF5B70;
    cursor: pointer;
}
 
 
 /******--------------********/

 .slider {
    background-color: #F7F7F7;
    padding-bottom: 75px;
    position: relative;
 }
 .slider-wrapper {
     
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .slider-wrapper img {
     width: initial;
 }
.left {
    border: none;
    /* color: #F16D7F; */
    font-size: 26px;
    padding: 5px 15px;
    position: absolute;
    top: 40%;
}
.right {
    border: none;
    font-size: 26px;
    padding: 5px 15px;
    position: absolute;
    top: 40%;
    right: 0;
}
.left:hover {
    color: #F16D7F;
}
.right:hover {
    color: #F16D7F;
}

/****** страница product--------------********/
.product-cart{
    border: 1px solid #EAEAEA;
    margin-bottom: 128px;
    text-align: center;
    padding: 65px 0;
    margin-top: -75px;
    background-color: #FFFFFF;
    position: relative;
}
.product-heding-1 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}
.line-1 {
    border-bottom: 3px solid #EF5B70;
    width: 63px;
    margin: 12px auto;
}
.product-heding-2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.product-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    max-width: 550px;
    margin: 0 auto;
    padding: 48px 0 32px 0;
}
.product-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
.line-2 {
    border-bottom: 1px solid #EAEAEA;
    width: 642px;
    margin: 64px auto;
}
.product-sort-list{
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}
.product-sort-list p:hover {
    cursor: pointer;
}
.product-sort {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-right: 23px;
}
.product-sort:last-child{
    padding-right: 0;
}
.product-sort img {
    padding-left: 9px;
    width: initial;
}
.product-link {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 24px;
    border: 1px solid #F26376;
    display: flex;
    max-width: 212px;
    margin: 0 auto;
}
.product-link-img {
    display: inline-block;
    padding-right: 23px;
    width: initial;
}
.margin-1 {
    height: 128px;
}
/* !!!!!!!!!!!!!!! не работает ховер на кртинку ****************/
.product-link:hover {
    color: #FFFFFF;
    background-color: #F26376;
}


/***********страница cart ****************/

.shopping-cart{
    background-color:#F8F3F4;
}
.shopping-cart-wrapper {
    padding: 60px 0;
}
.shopping-cart-text {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.cart-items-wrapper {
    padding: 96px 0 128px 0;
    display: flex;
    justify-content: space-between;
}
.cart-items {
    display: flex;
    flex-direction: column;
    width: 57.2%;
}
.cart-item{
    display: flex;
    background: #FFFFFF;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    width: 652px;
    margin-bottom: 40px;
}
.cart-item-text{
    padding: 22px 0 0 31px;
    width: 100%;
}
.cart-item-text-top-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.cart-item-text h6:hover {
    cursor: pointer;
    color: #F16D7F;
}
.cart-item-text h6{
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    max-width: 262px;
}
.fa-times:hover {
    cursor: pointer;
}
.cart-item-text p {
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;

}
.cart-item-text-price {
    font-size: 22px;
    line-height: 26px;
    color: #EF5B70;
}
.cart-item-text-top-part .fa {
    padding-right: 22px;
    font-size: 24px;
}
.cart-input {
    width: 44px;
    height: 25px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
}
.cart-button{
    display: flex;
    justify-content: space-between;
}
.cart-button button {
    padding: 17px 41px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #A4A4A4;
    margin-top: 32px;
    cursor: pointer;
}

.cart-form{
    display: flex;
    flex-direction: column;
}
.cart-form input{
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    padding: 13px 0 16px 17px;
    width: 360px;
    margin-bottom: 20px;
}
.cart-form-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
    margin-top: 15px;
}
.cart-form-link {
    padding: 10px 0 12px 15px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #4A4A4A;
    background-color: #FFFFFF;
    width: 105px;
}
.cart-form-top {
    display: flex;
    flex-direction: column;
}
.cart-item img {
    width: initial;
}
.cart-form-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:#F5F3F3;
    margin-top: 55px;
    padding: 39px 34px 42px 34px;
}
.sub-total {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.sub-total span {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    margin-left: 20px;
}
.grand-total {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}
.grand-total span {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 20px;
}
.line-3 {
    border-bottom: 1px solid #E2E2E2;
    margin: 21px 0 17px 0;
    width: 100%;
}
.cart-form-bottom-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #F16D7F;
    padding: 15px 43px 16px 41px;
    width: 100%;
}

/********** страница Registration **********************/

.registration {
    padding: 64px 0 96px 0;
}
.registration-wrapper {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
}
.registration-form {
    padding-right: 128px;
}
.input-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding: 13px 0 16px 17px;
    width: 360px;
    border: 1px solid #A4A4A4;
    margin: 20px 0;
}
.label-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.label-radio {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-right: 20px;

}
.input-radio {
    margin-bottom: 33px;
    margin-right: 10px;
}
.label-pass {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
   
}
.pass-comment{
    width: 360px;
}
.registration-button{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #F16D7F;
    padding: 16px 29px;
    border: none;
    cursor: pointer;
    margin-top: 29px;
}
.registration-button:hover {
    background-color: #FFFFFF;
    color:  #F16D7F;
    outline: 1px solid  #F16D7F;
}
.registration-text h5{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
}
.registration-text p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
}
.registration-text-1 {
    margin: 22px 0;
    padding-bottom: 8px;
}
.registration-text p i {
    padding-right: 22px;
}
.registration-text-list {
    list-style-type: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 30px; 
    list-style-image: url(img/mark_list.svg);
}
.registration-text-list li{
    margin-bottom: 16px;
    padding-left: 22px;
}













/******** Медиа запросы **************************************************************/

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1140px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cart-item {
        width: 100%;
    }
    .item {
        
        position: relative;
    }
  
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    /* index.html*/
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header {
        padding: 18px 32px;
    }
    .main-wrapper {
        background-size: contain;
        background-position: left bottom;
        padding-top: 191px;
        padding-bottom: 191px;
        padding-right: 0;
    }
  
    .main-text {
        font-size: 44px;
        line-height: 53px;
        max-width: 311px;
        padding-left: 16px;
        margin-right: 33px;
    }
    .main-text-second {
        font-size: 24px;
        line-height: 29px;
    }
    .main-text-color {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
       margin-bottom: 20px;
    }
    .choice {
        padding: 0 15px;
    }
    .choice-text {
        padding: 58px 0;
    }
    .fetured {
        margin-top: 154px;
        margin-bottom: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .item {
        width: 48%;
        position: relative;
    }
    
    .fetured-link {
        margin-top: 0;
    }
    
    .info-wrapper {
        flex-direction: column;
        padding: 48px 0 64px 0;
    }
    .info-wrapper > div {
        width: 47%;
        padding-bottom: 48px;
    }
    .subscribe {
        padding: 64px 0 140px 0;
    }
    .subscribe-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-right {
        margin-top: 48px;
        margin-right: 0;
    }
    .subscribe-left {
        width: inherit;
    }
    .bottom-wrapper {
        padding-right: 32px;
        padding-left: 32px;
    }
    .bottom-list {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* catalog.html*/

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
    .filters {
        justify-content: space-between;
    }
    .text-1 {
        padding-left: 0;
    }
    .dropdown-3 {
        margin-right: 0;
    }
    .item-3 {
        display: none;
    }
    .fetured-catalog-pages {
        margin-top: 10px;
        margin-bottom: 63px;
        width: max-content;
    }
    .nav-main-dropdown {
        z-index: 3;
    }
    .pos-left {
        z-index: 2;
        width: 139%;
    }
    .fetured-items {
        z-index: 1;
    }
    .dropdown-1:hover .dropdown-content-1 {
        z-index: 2;
    }
    .dropdown-2:hover .dropdown-content-2 {
        z-index: 2;
    }
    .dropdown-3:hover .dropdown-content-3 {
        z-index: 2;
    }
    /* product.html */
    .item-hidden {
        display: none;
    }

    /*cart.html*/
    .cart-item {
        width: 100%;
    }
    .cart-items-wrapper {
        flex-direction: column;
    }
    .cart-items {
        width: 100%;
    }
    .cart-button {
        justify-content: space-around;
        margin-bottom: 64px;
    }
    .cart-form {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Registration.html */ 

    .registration-form {
        padding-right: 50px;
    }
   
    .registration-text h5 {
        font-size: 16px;
        line-height: 19px;
    }
    .registration-text p {
        font-size: 16px;
        line-height: 19px;    
    }
    .registration-text-list {
        font-size: 16px;
        line-height: 19px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {

    body {
        display: block;
    }
    /* index.html*/
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header {
        padding: 18px 32px;
    }
    .main-wrapper {
        background-image: none;
        padding: 148px 56px;
        justify-content: center;
    }
  
    .main-text {
        font-size: 44px;
        line-height: 53px;
        max-width: 311px;
        padding-left: 16px;
        margin-right: 33px;
    }
    .main-text-second {
        font-size: 24px;
        line-height: 29px;
    }
    .main-text-color {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
       margin-bottom: 20px;
    }
    .choice {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .choice-item:not(:last-child){
        width: 100%;
        min-height: 290px;
        margin-bottom: 32px;

    }
    .choice-item:last-child {
        margin-top: 0;
    }
    .choice-text {
        padding: 58px 0;
    }
    .fetured {
        margin-top: 100px;
        margin-bottom: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .item {
        width: 48%;
        position: relative;
    }
    
    .fetured-link {
        margin-top: 0;
    }
    
    .info-wrapper {
        flex-direction: column;
        padding: 48px 0 64px 0;
    }
    .info-wrapper > div {
        width: 90%;
        padding-bottom: 48px;
    }
    .subscribe {
        padding: 64px 0 140px 0;
    }
    .subscribe-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-right {
        margin-top: 48px;
        margin-right: 0;
    }
    .subscribe-left {
        width: inherit;
    }
    .bottom-wrapper {
        padding-right: 32px;
        padding-left: 32px;
    }
    .bottom-list {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* catalog.html*/
    .new-arrivals {
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .new-arrivals-wrapper {
        flex-direction: column;
        align-items: center;
       
    }
    .new-arrivals-wrapper p {
        margin-bottom: 32px;
    }
    .item-3 {
        display: none;
    }
    .text-1 span {
        display: none;
    }
    .text-1 .fa {
        font-size: 20px;
    }
    .text-1 {
        padding-left: 0;
    }
    
    .nav-main-dropdown {
        z-index: 3;
    }
    .pos-left {
        z-index: 2;
       
    }
    .fetured-items {
        z-index: 1;
    }
    .dropdown-1:hover .dropdown-content-1 {
        z-index: 2;
    }
    .dropdown-2:hover .dropdown-content-2 {
        z-index: 2;
    }
    .dropdown-3:hover .dropdown-content-3 {
        z-index: 2;
    }
    details[open].pos-left {
        width: 139%;
    }
    .filters {
        padding: 30px 0;
        justify-content: space-between;
    }

    .dropbtn {
        font-size: 12px;
        line-height: 14px;
    }
    .dropdown-1, .dropdown-2 {
        margin-right: 24px;
    }
    .dropdown-3 {
        margin-right: 0;
    }
  



    .fetured-items {
        padding-left: 8px;
        padding-right: 8px;
    }
    .fetured-catalog-pages {
        margin-top: 10px;
        margin-bottom: 63px;
        width: max-content;
    }
    .subscribe-right-form {
        justify-content: center;
    }
    .bottom-wrapper {
        padding-bottom: 24px;
    }

     /* product.html */

     .product-text{
        width: 80%;
    }
    .line-2 {
        width: 50%;
    }
    .item-hidden {
        display: none;
    }
    .margin-1 {
        height: 64px;
    }


    /*cart.html*/

    .shopping-cart-text {
        text-align: center;
    }
    .cart-item {
        width: 100%;
    }
    .cart-items-wrapper {
        flex-direction: column;
    }
    .cart-items {
        width: 100%;
        padding: 0 9px;
    }
    .cart-button {
        justify-content: space-around;
        margin-bottom: 64px;
    }
    .cart-items-wrapper {
        padding-bottom: 70px;
    }
    .cart-form {
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-item-text-top-part {
        margin-bottom: 20px;
    }
    .cart-item-text {
        padding: 13px 0 0 17px;
    }
    .cart-item-text-top-part .fa {
        font-size: 16px;
    }
    .cart-item img {
        width: 42%;
    }
    .cart-item-text h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .cart-item-text p {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-item-text-price {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-button button {
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
        margin-top: 0;
    }
    .cart-form {
        flex-direction: column;
    }
    .cart-form-top {
        padding: 0 9px;
    }
    .cart-form-bottom-link {
        text-align: center;
    }
    /* Registration.html */ 

    .registration-wrapper {
        padding: 0 8px;
        flex-direction: column;
        align-items: center;
    }
    .registration-form {
        padding: 0 0 40px 0;
    }
    
    .registration-text h5 {
        font-size: 16px;
        line-height: 19px;
    }
    .registration-text p {
        font-size: 16px;
        line-height: 19px;    
    }
    .registration-text-list {
        font-size: 16px;
        line-height: 19px;
    }

}

/* Portrait phones and smaller */
@media (min-width: 321px) and (max-width: 479px) {
    body {
        display: block;
    }
    /* index.html*/

    .header {
        padding: 18px 32px;
    }
    .user {
        display: none;
    }
    .basket {
        display: none;
    }
    .quantity-in-basket {
        display: none;
    }
    .nav-right a:not(:last-child) {
        margin-right: 0;
    }
    .main-wrapper {
        background-image: none;
        padding: 148px 56px;
    }
  
    .main-text {
        font-size: 38px;
        line-height: 46px;
        padding-left: 15px;
    }
    .main-text-second {
        font-size: 24px;
        line-height: 29px;
    }
    .main-text-color {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
       margin-bottom: 64px;
    }
    .choice {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .choice-item:not(:last-child){
        width: 100%;
        min-height: 290px;
        margin-bottom: 32px;

    }
    .choice-item:last-child {
        margin-top: 0;
    }
    .choice-text {
        padding: 58px 0;
    }
    .fetured {
        margin-top: 64px;
        margin-bottom: 96px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .item {
        width: 100%;
        position: relative;
    }
    
    .fetured-link {
        margin-top: 10px;
    }
    
    .info-wrapper {
        flex-direction: column;
        padding: 48px 0 64px 0;
    }
    .info-wrapper > div {
        width: 80%;
        padding-bottom: 48px;
    }
    .subscribe {
        padding: 64px 0 140px 0;
    }
    .subscribe-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-right {
        margin-top: 48px;
        margin-right: 0;
    }
    .subscribe-left {
        width: inherit;
    }
    .subscribe-left-text {
        font-size: 18px;
        line-height: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .subscribe-right {
        max-width: 90%;
    }
    .input-1 {
        padding: 15px 0px 15px 25px;
    }
    .input-2 {
        padding: 15px 15px;
    }
    .bottom-wrapper {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse;
    }
    .bottom-list {
        margin-top: 0;
        margin-bottom: 40px;
        padding-left: 0;
    }

    /* catalog.html*/

    .new-arrivals {
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .new-arrivals-wrapper {
        flex-direction: column;
        align-items: center;
       
    }
    .new-arrivals-wrapper p {
        margin-bottom: 32px;
    }
    .item-3 {
        display: none;
    }
    .text-1 span {
        display: none;
    }
    .text-1 .fa {
        font-size: 20px;
    }
    .text-1 {
        padding-left: 0;
    }
        
    .nav-main-dropdown {
        z-index: 3;
    }
    .pos-left {
        z-index: 2;
        width: 633%;
    }
    .fetured-items {
        z-index: 1;
    }
    .dropdown-1:hover .dropdown-content-1 {
        z-index: 2;
    }
    .dropdown-2:hover .dropdown-content-2 {
        z-index: 2;
    }
    .dropdown-3:hover .dropdown-content-3 {
        z-index: 2;
    }
    .filters {
        padding: 30px 0;
        
    }
    .pos {
        width: 15.5%;
    }
    .dropbtn {
        font-size: 12px;
        line-height: 14px;
    }
    .dropdown-1, .dropdown-2 {
        margin-right: 24px;
    }
    .dropdown-3 {
        margin-right: 0;
    }



    .fetured-items {
        padding-left: 8px;
        padding-right: 8px;
    }
    .fetured-catalog-pages {
        margin-top: 10px;
        margin-bottom: 63px;
        width: max-content;
    }
    .subscribe-right-form {
        justify-content: center;
    }
    .bottom-wrapper {
        padding-bottom: 24px;
    }

    /* product.html */

    .product-text{
        width: 80%;
    }
    .line-2 {
        width: 50%;
    }
    .item-hidden {
        display: none;
    }
    .margin-1 {
        height: 64px;
    }
    /*cart.html*/

    .shopping-cart-text {
        text-align: center;
    }
    .cart-item {
        width: 100%;
    }
    .cart-items-wrapper {
        flex-direction: column;
    }
    .cart-items {
        width: 100%;
        padding: 0 9px;
    }
    .cart-button {
        justify-content: space-around;
        margin-bottom: 64px;
    }
    .cart-items-wrapper {
        padding-bottom: 70px;
    }
    .cart-form {
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-item-text-top-part {
        margin-bottom: 20px;
    }
    .cart-item-text {
        padding: 13px 0 0 17px;
    }
    .cart-item-text-top-part .fa {
        font-size: 16px;
    }
    .cart-item img {
        width: 42%;
    }
    .cart-item-text h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .cart-item-text p {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-item-text-price {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-button button {
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
        margin-top: 0;
    }
    .cart-form {
        flex-direction: column;
    }
    .cart-form-top {
        padding: 0 9px;
    }
    .cart-form-bottom-link {
        text-align: center;
    }

    /* Registration.html */ 

    .registration-wrapper {
        padding: 0 8px;
        flex-direction: column;
    }
    .registration-form {
        padding: 0 0 40px 0;
    }
    .registration-text h5 {
        font-size: 16px;
        line-height: 19px;
    }
    .registration-text p {
        font-size: 16px;
        line-height: 19px;    
    }
    .registration-text-list {
        font-size: 16px;
        line-height: 19px;
    }

}

/* Iphone 5 */
@media (max-width: 320px) {

    /* index.html*/

    .header {
        padding: 18px 32px;
    }
    
    .user {
        display: none;
    }
    .basket {
        display: none;
    }
    .quantity-in-basket {
        display: none;
    }
    .nav-right a:not(:last-child) {
        margin-right: 0;
    }
    .main-wrapper {
        background-image: none;
        padding: 150px 10px;
    }
  
    .main-text {
        font-size: 38px;
        line-height: 46px;
        padding-left: 15px;
    }
    .main-text-second {
        font-size: 24px;
        line-height: 29px;
    }
    .main-text-color {
        font-size: 24px;
        line-height: 29px;
    }
    .main {
       margin-bottom: 64px;
    }
    .choice {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .choice-item:not(:last-child){
        width: 100%;
        min-height: 290px;
        margin-bottom: 32px;

    }
    .choice-item:last-child {
        margin-top: 0;
    }
    .choice-text {
        padding: 58px 0;
    }
    .fetured {
        margin-top: 64px;
        margin-bottom: 96px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .item {
        width: 100%;
        position: relative;
    }
    
    .fetured-link {
        margin-top: 10px;
    }
    
    .info-wrapper {
        flex-direction: column;
        padding: 48px 0 64px 0;
    }
    .info-wrapper > div {
        width: 80%;
        padding-bottom: 48px;
    }
    .subscribe {
        padding: 64px 0 140px 0;
    }
    .subscribe-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-right {
        margin-top: 48px;
        margin-right: 0;
    }
    .subscribe-left {
        width: inherit;
    }
    .subscribe-left-text {
        font-size: 18px;
        line-height: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .subscribe-right {
        max-width: 90%;
    }
    .subscribe-left-img {
        margin: 0 auto;
    }
    .input-1 {
        padding: 15px 0px 15px 5px;
    }
    .input-2 {
        padding: 15px 5px;
    }
    .bottom-wrapper {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse;
    }
    .bottom-list {
        margin-top: 0;
        margin-bottom: 40px;
        padding-left: 0;
    }

     /* catalog.html*/

    .new-arrivals {
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .new-arrivals-wrapper {
        flex-direction: column;
        align-items: center;
       
    }
    .new-arrivals-wrapper p {
        margin-bottom: 32px;
    }
    .item-3 {
        display: none;
    }
    .text-1 span {
        display: none;
    }
    .text-1 .fa {
        font-size: 20px;
    }
    .text-1 {
        padding-left: 0;
    }
    
    .nav-main-dropdown {
        z-index: 3;
    }
    .pos-left {
        z-index: 2;
        width: 633%;
    }
    .fetured-items {
        z-index: 1;
    }
    .dropdown-1:hover .dropdown-content-1 {
        z-index: 2;
    }
    .dropdown-2:hover .dropdown-content-2 {
        z-index: 2;
    }
    .dropdown-3:hover .dropdown-content-3 {
        z-index: 2;
    }
    .filters {
        padding: 30px 0;
        
    }
    .pos {
        width: 15.5%;
    }
    .dropbtn {
        font-size: 12px;
        line-height: 14px;
    }
    .dropdown-1, .dropdown-2 {
        margin-right: 24px;
    }
    .dropdown-3 {
        margin-right: 0;
    }



    .fetured-items {
        padding-left: 8px;
        padding-right: 8px;
    }
    .fetured-catalog-pages {
        margin-top: 10px;
        margin-bottom: 63px;
        width: max-content;
    }
    .subscribe-right-form {
        justify-content: center;
    }
    .bottom-wrapper {
        padding-bottom: 24px;
    }

    /* product.html */

    .product-text{
        width: 80%;
    }
    .line-2 {
        width: 50%;
    }
    .item-hidden {
        display: none;
    }
    .margin-1 {
        height: 64px;
    }
    /*cart.html*/

    .shopping-cart-text {
        text-align: center;
    }
    .cart-item {
        width: 100%;
    }
    .cart-items-wrapper {
        flex-direction: column;
    }
    .cart-items {
        width: 100%;
        padding: 0 9px;
    }
    .cart-button {
        justify-content: space-around;
        margin-bottom: 64px;
    }
    .cart-items-wrapper {
        padding-bottom: 70px;
    }
    .cart-form {
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-item-text-top-part {
        margin-bottom: 20px;
    }
    .cart-item-text {
        padding: 13px 0 0 17px;
    }
    .cart-item-text-top-part .fa {
        font-size: 16px;
    }
    .cart-item img {
        width: 42%;
    }
    .cart-item-text h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .cart-item-text p {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-item-text-price {
        font-size: 14px;
        line-height: 17px;
    }
    .cart-button button {
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
        margin-top: 0;
    }
    .cart-form {
        flex-direction: column;
    }
    .cart-form-top {
        padding: 0 9px;
    }
    .cart-form-bottom-link {
        text-align: center;
    }
    /* Registration.html */ 

    .registration-wrapper {
        padding: 0 8px;
        flex-direction: column;
    }
    .registration-form {
        padding: 0 0 40px 0;
    }
    .registration-text h5 {
        font-size: 16px;
        line-height: 19px;
    }
    .registration-text p {
        font-size: 16px;
        line-height: 19px;    
    }
    .registration-text-list {
        font-size: 16px;
        line-height: 19px;
    }
}
